ion-card.expense-table{
    color: var(--ion-color-dark);
}

ion-chip{
    font-size: 12px;
    border-radius: 7px;
}

.expense-data, .reponsive-expense-data{
    border-bottom: 1px solid var(--ion-color-light-shade);
}

ion-item {
    --background: var(--ion-color-light);
    --border-color: var(--ion-color-light-shade);
}

ion-popover {
    --width: 300px
}

ion-input.category-input {
    --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 10px;
  --padding-top: 0px;
  height: 10px;
}
