<ion-card class="ion-no-margin h-full relative">
  <ion-card-header>
    <!-- TODO: ADD LOGO -->
    <app-logo class="flex justify-center cursor-pointer" routerLink="/" [width]="'100%'" [height]="'50px'"></app-logo>
  </ion-card-header>
  <ion-card-content class="ion-no-padding overflow-y-auto h-3/4">

    <ng-container *ngIf="(user$ | async) as user; else dragonImage">
      <div class="flex justify-between items-center ion-padding-start">
        <p>Years</p>
        <ion-button fill="clear" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>

      <app-year *ngFor="let year of user.years" [year]="year"></app-year>
    </ng-container>

    <ng-template #dragonImage>
      <div class="ion-text-center h-full flex items-center">
        <img src="../../../../assets/cute-wallet.png" alt="">
      </div>
    </ng-template>

  </ion-card-content>


  <div class="absolute bottom-0 w-full profile-btn">
    <ng-container *ngIf="(user$ | async) as user; else signInText">
      <ion-item id="user-popover" lines="none" button detail>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{user.firstName}} {{user.lastName}}</ion-label>
      </ion-item>
  
      <ion-popover trigger="user-popover" side="right" dismissOnSelect>
        <ng-template>
          <ion-content>
            <!-- TODO: ADD ITEM FOR NAVIGATING TO USER PAGE -->
            <ion-item lines="none" button detail (click)="handleLogout()">
              <ion-label color="danger">
                <ion-text>Logout</ion-text>
              </ion-label>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ng-container>

    <ng-template #signInText>
      <ion-item lines="none" button detail routerLink="/auth">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <p>
            <ion-text color="dark" >
              Please <ion-text color="tertiary" class="cursor-pointer">SignIn</ion-text> to start adding you expenses.
            </ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-template>
  </div>
  
</ion-card>

