<ion-item-divider class="flex items-center justify-between">
  <ion-label *ngIf="!isRenaming" (dblclick)="handleDoubleClick()"> 2024 </ion-label>

  <ion-input #renameInput value="2024" *ngIf="isRenaming" class="flex-1"></ion-input>

  <div class="space-x-2 pr-2">
    <ion-button size="small" fill="clear" slot="end" class="ion-no-padding">
      <ion-icon name="document-outline" size="small"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="clear" slot="end" class="ion-no-padding">
      <ion-icon name="trash-outline" size="small" color="danger"></ion-icon>
    </ion-button>
  </div>
</ion-item-divider>