<ion-content [fullscreen]="true" class="ion-padding-vertical">
    <div class="flex flex-col items-center h-full justify-center">
        <h1 class="font-bold text-5xl md:text-7xl flex flex-col items-center md:flex-row">
            Welcome To <app-logo [width]="'100%'" [height]="'50px'" class="ml-4"></app-logo>
        </h1>
        <p class="mt-2 text-center text-lg font-normal font-serif italic">An elegant app to organize your <span><ion-text color="tertiary">Expenses</ion-text></span> with visual insights.</p>

        <p class="mt-8 text-center">SignIn to view your manage your expenses.</p>
        <ion-button class="mt-4" color="tertiary" routerLink="/auth">SignIn</ion-button>
    </div>
</ion-content>