<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main">
      <ion-content class="ion-padding"> 
          <app-side-nav></app-side-nav>
      </ion-content>
    </ion-menu>
  
    <div class="ion-page" id="main">
      
      <ion-header>
        <ion-toolbar class="ion-padding-end">
          <ion-toggle slot="end" mode="ios" [checked]="!isLightTheme" (ionChange)="toggleTheme()"></ion-toggle>
        </ion-toolbar>

      </ion-header>

      <ion-content class="ion-padding"> 
        <ion-router-outlet></ion-router-outlet>
      </ion-content>

    </div>
  </ion-split-pane>

  <div class="absolute top-0">
    <ion-menu-toggle>
      <ion-button size="small" color="secondary">
        <ion-icon name="chevron-forward" color="primary"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </div>
  
</ion-app>
