<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main">
      <ion-content class="ion-padding"> 
          <app-side-nav></app-side-nav>
      </ion-content>
    </ion-menu>
  
    <div class="ion-page" id="main">
      <ion-header>
        <ion-toolbar class="ion-padding-end">
          <ion-title>Main View</ion-title>

          <ion-buttons slot="end">
            <ion-button *ngIf="!isLightTheme" (click)="switchTheme('light')">
              <ion-icon name="sunny"></ion-icon>
            </ion-button>
            <ion-button *ngIf="isLightTheme" (click)="switchTheme('dark')">
              <ion-icon name="moon"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> 
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
  
</ion-app>
