<ion-card class="mx-auto">
  <ion-card-header>
    <ion-card-title color="dark">Sign In</ion-card-title>
  </ion-card-header>

  <ion-card-content class="flex flex-col items-center">

    <form [formGroup]="loginFormGroup" class="w-full">
      <ion-item class="ion-no-padding">
        <ion-input formControlName="userName" label="Username" labelPlacement="floating" type="text" (ionBlur)="markFormControlTouched('userName')"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!formControlValid('userName')">Username is required*</ion-text>
      
      <ion-item class="ion-no-padding">
        <ion-input formControlName="password" label="Password" labelPlacement="floating" type="text" (ionBlur)="markFormControlTouched('password')"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!formControlValid('password')">Password is required*</ion-text>
    </form>

    <ion-button class="ion-margin-vertical">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Sign In
    </ion-button>
    <ion-button class="ion-margin-vertical" fill="clear">
      <ion-icon slot="start" name="logo-google" color="tertiary"></ion-icon>
      <ion-text color="dark">Sign In With Google</ion-text>
    </ion-button>

    <p>
      Do not have an account? 
      <ion-text color="tertiary" class="cursor-pointer" (click)="handleSignUpClicked()">Register</ion-text>
    </p>
  </ion-card-content>
</ion-card>