<ion-card class="mx-auto">
  <ion-card-header>
    <ion-card-title color="dark">Register</ion-card-title>
  </ion-card-header>

  <ion-card-content class="flex flex-col items-center">
    <form [formGroup]="registerFormGroup" class="w-full">
      <ion-item class="ion-no-padding">
        <ion-input formControlName="userName" label="Username" labelPlacement="floating" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!formControlValid('userName')">Username is required*</ion-text>
      
      <ion-item class="ion-no-padding">
        <ion-input formControlName="firstName" label="Firstname" labelPlacement="floating" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!formControlValid('firstName')">Firstname is required*</ion-text>

      <ion-item class="ion-no-padding">
        <ion-input formControlName="lastName" label="Lastname" labelPlacement="floating" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!formControlValid('lastName')">Lastname is required*</ion-text>

      <ion-item class="ion-no-padding">
        <ion-input formControlName="password" label="Password" labelPlacement="floating" [type]="showPassword ? 'text':'password'"></ion-input>
        <ion-icon slot="end" color="dark" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="!formControlValid('password')">Password is required*</ion-text>
      
      <ion-item class="ion-no-padding">
        <ion-input label="Confirm Password" labelPlacement="floating" type="password" (ionInput)="checkPasswordMatched($event)"></ion-input>
      </ion-item>
      <ion-text color="success" *ngIf="passwordMatched">Password matched!</ion-text>
    </form>
      
    <ion-button class="ion-margin-vertical" (click)="handleRegister()">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Sign Up
    </ion-button>
    <ion-button class="ion-margin-vertical" fill="clear">
      <ion-icon slot="start" name="logo-google" color="tertiary"></ion-icon>
      <ion-text color="dark">Sign Up With Google</ion-text>
    </ion-button>

    <p>
      Already have an account? 
      <ion-text color="tertiary" class="cursor-pointer" (click)="handleSignInClicked()">Sign In</ion-text>
    </p>
  </ion-card-content>
</ion-card>